global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "tuliime_metrics"
    scrape_interval: 10s

    static_configs:
      - targets: ["tulime-backend:5000"]

  - job_name: "tuliime_traefik_metrics"
    scrape_interval: 15s

    static_configs:
      - targets: ["traefik:8080"]
